data/resistance_genes.fsa
data/Unknown3_raw_reads_1.txt.gz
data/Unknown3_raw_reads_2.txt.gz
data/resistance_genes_sub.fsa
data/sequence_long.txt
data/Unknown3_raw_reads_1.txt
data/Unknown3_raw_reads_1.txt.gz
data/Unknown3_raw_reads_1_sub.txt
data/Unknown3_raw_reads_2.txt
data/Unknown3_raw_reads_2.txt.gz
data/Unknown3_raw_reads_2_sub.txt